<!doctype html>
<html>
  <head>
    <title>Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <h1>Agenda</h1>
    <p><a href="{{ url_for('index') }}">Back to index</a></p>
    <div>
      {% for filename in agenda_files %}
      <div style="margin-bottom: 20px;">
        <p>{{ filename }}</p>
        <img src="{{ url_for('serve_agenda_image', filename=filename) }}" alt="Agenda Image - {{ filename }}" style="max-width: 100%;">
        <br>
        <a href="{{ url_for('delete_agenda_image', filename=filename) }}">Delete Image</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
