<!doctype html>
<html>
  <head>
    <title>Bullet Points</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>

    <h1>Bullet Points</h1>



    <form method="POST">
      <label>
        <span>Bullet Point:</span>
        <input type="text" name="project" required />
      </label>

      <button type="submit">Add</button>
    </form>

    <ul>
      {% for rowid, project in projecten %}
      <li>{{ project }} <a href="{{ url_for('delete_project', index=rowid) }}">Delete</a></li>
      {% endfor %}
    </ul>

  </body>
</html>
